.table-color
{
    background-color: #E0F7FA;
}

.show-grid
{
    border:1px solid ;
    background-color: white;
}

.show-grid-dark
{
    border:1px solid ;
    background-color: #80DEEA;
}
.color-shape
{
    background-color: #0097A7;
    color: #E0F7FA;
}